[user]
	name = Lasse Tuominen
	email = lasse.tuominen@iki.fi

[core]
	excludesfile = /Users/lasse/.gitignore
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[diff "lyx"]
	textconv = lyx2txt


[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --pretty --oneline --graph --decorate
	lg1 = log --oneline
[merge]
	conflictstyle = diff3
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
	# cmd = open -W -a Meld --args \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

