[user]
	name = Lasse Tuominen
	email = lasse.tuominen@fsdynamics.fi
[alias]
    #lg = log --color --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit
    # lg1 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgc = log --color --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit --graph
    lga = log --color --pretty=format:'%C(yellow)%d%Creset %s %Cgreen(%cD) %Creset' --abbrev-commit --graph --all
    lg = log --color --pretty=format:'%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --graph
    ci = commit
    cia = commit -a
    co = checkout
    df = diff
    st = status
    br = branch

[core]
	pager = less -F -X
	pager = less -F -X
[color]
	ui = auto
[push]
	default = simple

[merge]
	conflictstyle = diff3
	tool = meld17
[mergetool "meld17"]
	# use this for Meld >=1.7
	# see http://stackoverflow.com/a/22911793/859591
	# second solution:
	cmd = meld $LOCAL $MERGED $REMOTE
	# first solution:
	#cmd = meld $LOCAL $BASE $REMOTE --auto-mergejjj
